<ion-header>
    <ion-toolbar>
        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <ion-item>
            <ion-label position="floating">User Name <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input required formControlName="userName" type="text"></ion-input>
        </ion-item>
        <ion-item *ngIf="loginForm.dirty && loginForm.controls.userName.valid" lines="none">
            <ion-text color="danger" class="form-error">
                Please enter a valid User Name.
            </ion-text>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Password <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input required formControlName="password" type="text"></ion-input>
        </ion-item>
        <!-- <ion-button block color="primary" type="submit" [disabled]="!loginForm.valid">
            Login
        </ion-button> -->
       <ion-button block color="primary" type="submit">
            Login
        </ion-button>

    </form>

</ion-content>