ion-item {
    --min-height: 75px;
}

ion-toolbar {

    --background: var(--ion-color-primary);
    --border-color: var(--ion-color-primary-shade);
    --color: #141212;
    --min-height: 80px;
    --text-color: #fff;
    ion-back-button {
        --color: #141212;
    }
    --ion-safe-area-top:10px;
}


