<ion-header>
  <ion-toolbar>
    <ion-title>Users</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="(users$|async) as users;else NoUsers">
    <ion-item *ngFor="let user of users" detail (click)="goToDetails(user)">
      <ion-avatar slot="start">
        <img [src]="user.avatar" />
      </ion-avatar>
      <ion-label>
        <h1>{{user.first_name + ' ' + user.last_name}}</h1>
        <p>{{user.email}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ng-template #NoUsers>
    <ion-list>
      <ion-item *ngFor="let i of [].constructor(5)">
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>

    </ion-list>
  </ng-template>
</ion-content>